.CredentialContent {
    z-index: 2;
    background-color: white;
    flex: 1;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
}
.CredentialContent::-webkit-scrollbar {
    display: none;
}
/* Firefox */
.CredentialContent > h1 {
    font-family: RedHatDisplay;
    margin: 40px 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.CredentialContent > form {
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}