.CredentialFormButton {
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 900;
    font-family: RedHatDisplay;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    margin: 10px 0;
    cursor: pointer;
}