.CredentialEnd {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
}
.CredentialEnd > span,
.CredentialEnd > a
{
    font-family: RedHatDisplay;
    font-size: 15px;
    font-weight: 500;
}
.CredentialEnd > a {
    text-decoration: none;
    margin: 0 5px;
    color: var(--blue);
}